# Prerequisites
*.d
*.pyc
.piolibdeps
.pio
__pycache__
*.vscode
*.rst
LICENSE*
*.png
*.jpg
**/CHANGE*
CHANGELOG
.gitmodules
# README*
# *.md
*.o
*.ko
*.obj
*.hex
*.elf
*.bin
*.jpg
*.html
FILES
FEATURES
*readme.txt
*history.txt
build
*.old
